:root {
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-smaller: 12px;
    --font-size-smallest: 10px;
    --grid-cell-base-size: var(--cell-size);
    --grid-cell-small-size: calc(var(--cell-size) * 0.9);
    --grid-cell-smaller-size: calc(var(--cell-size) * 0.8);
    --grid-cell-smallest-size: calc(var(--cell-size) * 0.7);
    --grid-cell-tiny-size: calc(var(--cell-size) * 0.5);
    --padding-button: 10px 20px;
    --padding-button-small: 10px;
    --padding-button-smaller: 5px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: var(--font-size-base);
}

h1 {
    color: #333;
}

p {
    color: #666;
    text-align: center;
}

img {
    width: 90%;
}

button {
    font-size: var(--font-size-base);
    color: #666;
    padding: var(--padding-button);
    border-radius: 4px;
    border: 0.5px solid #ccc;
    background-color: #ffffff;
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

button:disabled,
.dropdown:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

input:disabled,
label:disabled {
    cursor: not-allowed !important;
}

select {
    font-size: var(--font-size-base);
}

table {
    font-family: arial, sans-serif;
    color: #666;
    font-size: var(--font-size-base);
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #d3d3d3;
    text-align: center;
    padding: 10px;
    width: 70px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-screen p {
    font-size: 18px;
}

.progress-bar-container {
    width: 50%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    width: 0;
    height: 10px;
    background-color: var(--weight-color);
    transition: width 0.3s;
}

.dropdown-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.dropdown {
    position: relative;
    color: #666;
    padding: 0px 10px 0px 10px;
    border-radius: 4px;
    border: 0.5px solid #ccc transparent;
    background-color: #ffffff;
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 40px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-arrow {
    width: 10px;
    height: 10px;
    opacity: 0.8;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    top: 44px;
    animation: dropdown-open-down 0.3s ease-out;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    color: #666;
    border-left: 0.5px solid #ccc;
    border-right: 0.5px solid #ccc;
}

.dropdown-item:first-child {
    border-top: 0.5px solid #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dropdown-item:last-child {
    border-bottom: 0.5px solid #ccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.dropdown-item:hover {
    background-color: var(--weight-color);
    color: #ffffff;
    border-color: var(--weight-color);
}

.show {
    display: inline-block;
}

.checkbox {
    display: none;
}

.switch,
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s;
}

.switch:before,
.toggle:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.checkbox:checked+.switch {
    background-color: var(--weight-color);
}

.checkbox:checked+.switch:before,
.checkbox:checked+.toggle:before {
    transform: translateX(26px);
}

.main-body-blur {
    filter: blur(4px);
}

.modal-container {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 80%;
    border-radius: 10px;
    border: solid 1px #ccc;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 10px black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: auto;
}

.modal-container button {
    height: auto;
}

.modal-content {
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 20px;
    display: grid;
    justify-items: center;
    line-height: 1.5;
}

.modal-title {
    font-size: 32px;
    text-align: center;
    color: #636363;
    margin-bottom: 20px;
}

.modal-body {
    font-size: var(--font-size-base);
    text-align: justify;
    color: #636363;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-container button {
    min-width: 120px;
}

.legend-container {
    display: flex;
    justify-content: space-evenly;
}

.legend {
    display: flex;
    gap: 10px;
    align-items: center;
}

.legend p {
    text-align: left;
}

.legend-image-container-small {
    max-width: 30px;
    margin-right: 5px;
}

.legend-image-container-large {
    max-width: 35px;
}

.settings-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.general-settings-container {
    margin-top: 30px;
    gap: 32px;
}

.show-weight-switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.show-weight-checkbox {
    position: relative;
    width: 54px;
    height: 28px;
}

.heuristic-dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.heuristic-dropdown {
    min-width: 200px !important;
}

.heuristic-dropdown-menu {
    min-width: 200px;
    text-align: center;
}

.page-number {
    position: fixed;
    top: 10px;
    right: 40px;
}

.algorithm-dropdown {
    font-weight: bold;
    min-width: 170px;
}

.algorithm-dropdown-menu {
    min-width: 170px;
}

.grid {
    margin-bottom: 20px;
}

.grids-container {
    display: flex;
    gap: 50px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.grid-cell {
    width: var(--grid-cell-base-size);
    height: var(--grid-cell-base-size);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cell:hover .mark-hover {
    opacity: 1 !important;
    cursor: pointer;
}

.cell-visiting {
    background-color: #f8f87c !important;
}

.mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

.mark-small {
    width: 60%;
    opacity: 0.7;
}

.mark-large {
    width: 90%;
}

.mark-hover:hover {
    opacity: 1;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 5px;
}

.bottom-left-container {
    width: 33%;
    margin-top: -7px;
}

.graph-controls-container {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    gap: 21px;
    margin-bottom: 3px;
}

.graph-dropdown-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 10px;
    gap: 11px;
    margin-bottom: -10px;
}

.graph-dropdown {
    justify-content: space-between;
    min-width: 110px;
}

.graph-dropdown-menu {
    min-width: 110px;
    top: -120px;
}

.secondary-graph-dropdown {
    justify-content: space-between !important;
    min-width: 170px;
}

.secondary-graph-dropdown-menu {
    min-width: 170px;
    top: -120px;
}

.weight-controls {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.weight-dropdown {
    min-width: 140px;
    text-align: left;
    justify-content: space-between;
}

.weight-dropdown-menu {
    min-width: 140px;
    top: -120px;
}

.bottom-middle-container {
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
    width: 37%;
    margin-top: 9px;
    margin-right: 20px;
}

.steps-slider-container {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
}

.graph-buttons-container {
    display: flex;
    gap: 15px;
}

.arrow-image {
    width: 12px;
    opacity: 70%;
}

.bottom-right-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: end;
    width: 30%;
}

.speed-control-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 13px;
}

.speed-dropdown {
    min-width: 100px !important;
    justify-content: space-between;
}

.speed-dropdown-menu {
    min-width: 100px;
    top: -120px;
}

.steps-slider-container input[type="range"],
.grid-size-slider-container input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 4px;
    background: #d3d3d3;
    outline: none;
    cursor: pointer;
}

.steps-slider-container input[type="range"]::-webkit-slider-thumb,
.speed-slider-container input[type="range"]::-webkit-slider-thumb,
.grid-size-slider-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(36, 73, 89);
}

#runAlgorithms {
    color: #666;
    padding: 10px 30px;
    border-radius: 4px;
    border: 0.5px solid #ccc;
    background-color: #ffffff;
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.2);
    min-width: 100px;
}

#openEditor {
    min-width: 100px;
}

#changeStart {
    width: 160px;
}

@media screen and (max-width: 1360px) {

    p,
    button,
    .dropdown,
    .dropdown-item,
    .legend p {
        font-size: var(--font-size-small);
    }

    .modal-container p,
    .modal-container button,
    .modal-container .dropdown,
    .modal-container .dropdown-item {
        font-size: var(--font-size-base);
    }

    .modal-container {
        width: 45%;
    }

    .modal-title {
        font-size: 24px;
    }

    .grid-cell {
        width: var(--grid-cell-small-size);
        height: var(--grid-cell-small-size);
    }

    .bottom-middle-container {
        gap: 29px;
        margin-top: 5px;
    }

    .dropdown {
        height: 37px !important;
    }

    .dropdown-menu {
        top: 41px;
    }

    .weight-dropdown,
    .weight-dropdown-menu {
        min-width: 130px;
    }

    .graph-dropdown-menu,
    .secondary-graph-dropdown-menu,
    .weight-dropdown-menu,
    .speed-dropdown-menu {
        top: -113px !important;
    }

    .heuristic-dropdown {
        height: 40px !important;
    }

    .bottom-right-container {
        gap: 14px;
    }

    #changeStart {
        width: 152px;
    }
}

@media screen and (max-width: 1200px) {

    p,
    button,
    .dropdown,
    .dropdown-item {
        font-size: 13px;
    }

    .modal-container p,
    .modal-container button,
    .modal-container .dropdown,
    .modal-container .dropdown-item,
    .modal-body,
    table {
        font-size: var(--font-size-base);
    }

    .modal-container {
        width: 50%;
    }

    .grid-cell {
        width: var(--grid-cell-smaller-size);
        height: var(--grid-cell-smaller-size);
    }

    .bottom-left-container {
        width: 37%;
    }

    .bottom-middle-container {
        width: 30%;
        gap: 27px;
        margin-right: 5%;
    }

    .dropdown {
        height: 36px !important;
    }

    .dropdown-menu {
        top: 40px;
    }

    .graph-dropdown-menu,
    .secondary-graph-dropdown-menu,
    .weight-dropdown-menu,
    .speed-dropdown-menu {
        top: -112px !important;
    }

    .heuristic-dropdown {
        height: 40px !important;
    }

    #changeStart {
        width: 144px;
    }
}

@media screen and (max-width: 1080px) {

    p,
    button,
    .dropdown,
    .dropdown-item {
        font-size: var(--font-size-base);
    }

    button {
        width: fit-content;
        height: 40px;
    }

    .modal-container {
        width: 55%;
    }

    .left-tutorial-buttons {
        display: flex;
        align-items: end;
    }


    .dropdown {
        height: 40px !important;
        min-width: 140px !important;
    }

    .dropdown-menu {
        top: 44px;
        min-width: 140px;
    }

    .heuristic-dropdown,
    .heuristic-dropdown-menu {
        min-width: 200px !important;
    }

    .graph-dropdown-menu,
    .secondary-graph-dropdown-menu,
    .weight-dropdown-menu,
    .speed-dropdown-menu {
        top: -120px !important;
    }

    .secondary-graph-dropdown,
    .secondary-graph-dropdown-menu {
        min-width: 180px !important;
    }

    .weight-dropdown,
    .weight-dropdown-menu {
        margin-right: 10px;
    }

    .grids-container {
        display: grid;
        justify-content: center;
        gap: 0px;
    }

    .grid-cell {
        width: var(--cell-size);
        height: var(--cell-size);
    }

    .bottom {
        display: flex;
        justify-content: center;
    }

    .bottom-container {
        flex-direction: column;
        justify-content: center;
        gap: 18px;
        width: 90%;
    }

    .bottom-left-container {
        width: 100%;
        order: 2;
    }

    .bottom-middle-container {
        order: 1;
        width: 100%;
        gap: 20px;
    }

    .graph-dropdown-container {
        justify-content: center;
        margin-right: 0px;
    }

    .weight-controls {
        justify-content: center;
    }

    .bottom-right-container {
        width: 100%;
        order: 3;
        display: flex;
        align-items: center;
    }

    .graph-controls-container {
        margin-top: 10px;
        gap: 28px;
    }

    #graphTypeDropdownText,
    #weightControlsText,
    #speedDropdownText {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .modal-container {
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {
    .modal-container {
        width: 65%;
    }
}

@media screen and (max-width: 840px) {
    .modal-container {
        width: 70%;
    }
}

@media screen and (max-width: 640px) {

    p,
    button,
    .dropdown,
    .dropdown-item {
        font-size: var(--font-size-small);
    }

    .dropdown {
        height: 37px !important;
    }

    button {
        height: auto;
    }

    .dropdown-menu {
        top: 42px;
    }

    .dropdown {
        height: 37px !important;
        min-width: 130px !important;
    }

    .dropdown-menu {
        top: 44px;
        min-width: 130px;
    }

    .secondary-graph-dropdown,
    .secondary-graph-dropdown-menu {
        min-width: 181px !important;
    }

    .graph-dropdown-menu,
    .secondary-graph-dropdown-menu,
    .weight-dropdown-menu,
    .speed-dropdown-menu {
        top: -114px !important;
    }

    .heuristic-dropdown,
    .heuristic-dropdown-menu {
        min-width: 200px !important;
    }

    .grid-cell {
        width: var(--grid-cell-small-size);
        height: var(--grid-cell-small-size);
    }
}

@media screen and (max-width: 610px) {

    table,
    p,
    button,
    .dropdown,
    .dropdown-item {
        font-size: var(--font-size-smaller);
    }

    .modal-container p,
    .modal-container button,
    .modal-container .dropdown,
    .modal-container .dropdown-item,
    .modal-body,
    table {
        font-size: var(--font-size-small);
    }

    .modal-container {
        width: 75%;
    }

    .settings-container {
        flex-direction: column;
    }

    .dropdown-menu {
        top: 41px;
        min-width: 120px;
    }

    .dropdown {
        height: 35px !important;
        min-width: 120px !important;
    }

    .weight-display {
        font-size: var(--font-size-smaller) !important;
    }

    .graph-dropdown-menu,
    .secondary-graph-dropdown-menu,
    .weight-dropdown-menu,
    .speed-dropdown-menu {
        top: -108px !important;
    }

    .secondary-graph-dropdown,
    .secondary-graph-dropdown-menu {
        min-width: 182px !important;
    }

    .heuristic-dropdown,
    .heuristic-dropdown-menu {
        min-width: 180px !important;
    }

    .settings-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .grid-cell {
        width: var(--grid-cell-smallest-size);
        height: var(--grid-cell-smallest-size);
    }

    #graphTypeDropdownText {
        margin-right: 24px;
    }

    #speedDropdownText {
        margin-right: 15px;
    }

    .right-tutorial-buttons {
        display: grid;
        gap: 7px;
    }
}

@media screen and (max-width: 480px) {
    .grid-cell {
        width: calc(var(--cell-size) * 0.6);
        height: calc(var(--cell-size) * 0.6);
    }
}

@media screen and (max-width: 400px) {
    .bottom-container {
        width: 100%;
    }

    .grid-cell {
        width: var(--grid-cell-tiny-size);
        height: var(--grid-cell-tiny-size);
    }

    .weight-display {
        font-size: var(--font-size-smallest) !important;
    }
}